---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {%- if "/._" not in page.url and ("/work/" not in page.url or page.url == "/work/") %}
  <url>
    <loc>{{ site.siteUrl }}{{ page.url }}</loc>
    <lastmod>{{ page.date | isoDate }}</lastmod>
  </url>
  {%- endif %}
{%- endfor %}
{%- for project in projects %}
  <url>
    <loc>{{ site.siteUrl }}/work/{{ project.slug }}/</loc>
  </url>
{%- endfor %}
</urlset>
